
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}">
</head>
<body>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Sign In </h2>
    <a href="{%  url 'singup' %}">
    <h2 class="inactive underlineHover">Sign Up </h2> </a>

    <!-- Icon -->
    <div class="fadeIn first">
      <h4> Vishwakarma Arts</h4>
    </div>

    <!-- Login Form -->
    <form action="login" method="POST">
       {%csrf_token%}
      <input type="text" id="login" class="fadeIn second" name="username" placeholder="login">
      <input type="text" id="password" class="fadeIn third" name="password" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="{%  url 'singup' %}">Forgot Password?</a>
    </div>

  </div>
</div>
</body>
  <script src="{% static '/jss/login.js' %}"></script>
</html>